
/*6*/html{
    background-color: rgb(49, 158, 134);

}



/*7*/body{
    background-color: rgb(26, 122, 101);
    font-family: "Century Gothic", sans-serif;
    
}



/*8*/h1, h2{
    font-weight: normal;
    text-align: center;
}



/*9*/p#headerParagraph{
    background-color: rgb(49, 158, 134);
}



/*10*/nav a{
    text-decoration: none;
    
}



/*11*/body>header{
    background-color: rgb(92, 160, 161);
    
}



/*12*/body>header h1{
    font-family: cursive;
    color: rgb(5,77,68);
    font-size: 4vw;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20x;
    padding-right: 20px;
    font-weight: bolder;
    
}



/*13*/body header h1 span{
    color: black;
}



/*14*/nav#mainLinks{
    padding-top: 5px;
    padding-bottom: 5px;
}


/*15*/nav#mainLinks a:link, nav#mainLinks a:visited{
    color: black;
    font-weight: bold;
    background-color: rgba(92, 160, 161, .05);
    
    
}


/*16*/nav#mainLinks a:active, nav#mainLinks a:hover{
    color:firebrick;
    font-weight: bold;
    background-color: rgb(230, 205, 170);
}

/*17*/body section{
    background-color: rgb(220, 220, 220);
    background-image: url("bg.jpg");
    
    
    
}



/*18*/section header h1{
    font-size: 2.2em;
    padding-left: 10px;
}



/*19*/section article h2{
    font-size: 1.4em;

}



/*20*/
p#mainparagraph{
    text-align: justify;
    
    
}



/*21*/section>article p::first-letter{
    font-size:2em;
    
}



/*22*/body footer{
    background-color:rgb(49, 158, 134);
    padding:1px;
    text-align: center;
    font-weight: 900;
    color:black;
}



